.confirm{
	
	margin-top: 250px;
	float: center;
	z-index: 10;
	position:absolute;
	margin-left: 520px;
	
}
.title{
	margin-left: -100px;

}
.user{
	min-height: 35px;
	min-width: 200px;
	margin-bottom:15px;
	color: black;
}
#background{
	z-index: 1;
}
.section { 
	text-align: left; 
	padding-left: 70px;
	font:30px "Microsoft Yahei"; 
	color: #fff;
}
.welcome{
	position: fixed;
	left: 400px;
	top:-500px;
}
span{
	color: white;
}
.rem{
	margin-left: -30px;
	margin-top: -8px;
}
.btn{
	margin-left:30px;
	height:35px;
	width:80px;
	margin-top: 4px;
}