#menu { 
	position: fixed; 
	right: 30px; 
	top: 54%; 
	width: 90px; 
	margin: -160px 0 0; 
	list-style-type: none; 
	z-index: 70;
	opacity: 0.7;
}
#menu a:hover{
	color: #2BE8E9;
}
#menu li {
 margin-top: 10px; 
 font: 14px "Microsoft Yahei";
}
#menu a { 
	display: block; 
	padding: 10px 0; 
	background-color: #fff; 
	color: #0074EA; 
	text-align: center; 
	text-decoration: none;
}
#menu .active a { 
	color: #fff; 
	background-color: rgb(0, 116, 234);
}
.section {  
  font-family:"Microsoft Yahei";
	color: #fff;
}
.sec1{
	background-image:linear-gradient(to bottom, 
			rgba(52,30,80,1) 0%, 
			rgba(153,63,120,0.8) 55%,  
			rgba(218,77,94,1) 100%);

}
.sec2{
	background-image:linear-gradient(to bottom, 
			rgba(108,199,213,1) 0%, 
			rgba(224,231,288,0.61) 55%,  
			rgba(241,229,217,1) 100%);
}
.sec3{
	background-image:linear-gradient(to bottom, 
			rgba(148,92,122,1) 0%, 
			rgba(230,127,102,1) 55%,  
			rgba(243,96,55,1) 100%);
}
.sec4{
	background-image:linear-gradient(to bottom, 
			rgba(148,199,213,1) 0%, 
			rgba(224,231,218,1) 55%,  
			rgba(241,229,217,1) 100%);
			
}
.sec5{
	background-image:linear-gradient(to bottom, 
			rgba(14,130,132,1) 0%, 
			rgba(131,184,170,1) 55%,  
			rgba(215,183,149,1) 100%);
}
.sec6{
	background-image:linear-gradient(to bottom, 
			rgba(0,105,93,1) 0%, 
			rgba(18,195,143,0.8) 55%,  
			rgba(200,200,54,1) 100%);
}
.screen-main { 
	position: relative; 
	width: 1280px; 
	height: 840px; 
	margin: 0 auto;
}
.screen-main p { 
	position: absolute;
	margin-top:-160px;
}
.screen-main .welcome{
	position: absolute;
	margin-top: 350px;
	margin-left: 550px;
	font-size: 25px;
	display: none;
}
#watch{
	position: fixed;
	margin-top: 2%;
	margin-left: 80%;
	z-index: 1;
}
.basic{
	font:30px "Microsoft Yahei"; 
	list-style-type:none;
}
.profession{
	float:center;
	z-index:50;
	margin-left:380px;
	margin-top:150px;
	display:block;
	position: relative;
}
#circle{
	margin-top: -320px;
	z-index:1;
	position: absolute;
}
.basic{
	position: relative;  
	height: 850px;
	width: 1400px; 
	overflow: hidden;
	margin: 0 auto;
}
.section{
	position: relative;  
	height: 50px;
	overflow: hidden;
}
.section a { 
	text-decoration: none; 
	color: #004b85;  
	position: absolute; 
	display: inline-block; 
	white-space: nowrap 
}
.section a:hover { 
	color: #1c9cff 
}
.profession a { 
	text-decoration: none; 
	color: #FFFFFF; 
	float: left; 
	position: fixed; 
	display: inline-block; 
	white-space: nowrap 
}
.profession a:hover { 
	color: #1c9cff 
}
.paster{
	width: 240px;
	height: 320px;
	margin-left: 120px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.name{
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0;

}
.name1{
	font:40px "Microsoft Yahei";
	background-color: #2894FF;
	padding-left:80px;
	padding-top: 110px;
	padding-right: 100px;
	padding-bottom: 170px;
	margin-top: 0;
}
.name2{
	font: 40px "Microsoft Yahei";
	background-color: #9F40FF; 
	padding-left: 60px;
	padding-top: 110px;
	padding-right: 70px;
	padding-bottom: 170px;
	margin-top: 0; 
}
.name3{
	font: 40px "Microsoft Yahei";
	background-color: #FFB559;
	padding-left: 40px;
	padding-top: 110px;
	padding-right: 40px;
	padding-bottom: 170px;
	margin-top: 0; 
}
.detail{
	margin: 0;
	font:20px "Microsoft Yahei";
	
}
.character a{
	z-index: 100;
	font: 40px "Microsoft Yahei";
	color: #FFFFFF;
	position: absolute;
}
.end_word{
	font: 28px "Microsoft Yahei";
	margin-left: 100px;
	position: absolute;
	margin-top: -70px;
	#margin-bottom: 50px;
}
.thanks{
	font: 50px "Microsoft Yahei";
	margin-left: 500px;
	position: absolute;
	overflow: hidden;
}


